<div style="color: @(server.IsOnline?"green":"red");">
    <p>
        @server.ServerName is in @server.City that is @(server.IsOnline?"Online":"Offline")
    </p>
</div>



@code {
    private Server server = new Server{ServerName = "Server 1 ", City = "Solwezi"};
}